*
    margin: 0
    padding: 0
    z-index: 1
.full 
    max-width: 1920px
    width: 100%
    margin: 0 auto

// --------------------

.header
    height: 80px
    background-color: #00000070
    position: relative
    z-index: 2

#section_1
    position: relative
    margin-top: -80px
    height: 800px
    background-image: url('/mini img/section1_bg-min.jpg')
    background-repeat: no-repeat
    background-size: cover

