<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <header class="header full row">
        <img src="{{ url_for('static', filename='mini img/logo-min.png') }}" alt="logo">
        <div class="nav">
            <ul class="menu row">
                {% for m in menu %}
                    <li class="menu__items"><a href="#" class="menu_links">
                        {{m}}
                    </a></li>
                {% endfor %}
            </ul>
        </div>
        <a href="#section_6" class="btn_link">
            +3 8(050) 130 02 97
        </a>
    </header>
    <section class="full" id="section_1" style="background-image: url({{ url_for('static', filename='mini img/section1_bg-min.jpg') }})">
        <div class="content">
            <h2>{{ section1.Title }}</h2>
            <h3>подберем и установим:</h3>
            <ul>
                {% for p in section1.plist %}
                <li>
                    <p>{{ p }}</p>
                </li>
                {% endfor %}
                
            </ul>

            <a href="#section_6" class="contactUs">Связаться с нами</a>
        </div>
    </section>
    <section class="full" id="section_2">
       
        <div class="content column">
            <h3 class="title">{{menu[0]}}</h3>
            <div class="row section-2_box">
                <div class="column section_2__box1">
                    <p class="section-2_text">
                        <strong>ООО «Лавина»</strong> производит реализацию и монтаж ПВХ окон, балконов, входных и межкомнатных дверей, роллет, жалюзей всех типов, 3Д-панелей ведущих заводов изготовителей: Goodwin VEKA, Glasso, WDS, Двери украины, Steel Art, Бастион БЦ, Портала, MO-Dors, Министерство дверей.
                        <br>
                        <br>
                        Мы стараемся сделать весь процесс быстрым и удобным. Свяжитесь с нами по телефону для консультации.
                    </p>
    
                </div>
                <div class="column section_2__box2">
                    <img class="section-2_logo" src="{{url_for('static', filename='mini img/logo-min.png')}}" alt="">
                    <img class="section-2_window" src="{{url_for('static', filename='mini img/window1-min.jpg')}}" alt="">
                </div>
            </div>
            

        </div>
    </section>
    <section class="full" id="section_3">
        <div class="content column">
            <h3 class="title">{{menu[1]}}</h3>
            <div class="carts row">
                <div class="box_cart">
                    <h4>Заказ</h4>
                    <p>Консультант понятно и компетентно ответит на все Ваши вопросы, даст развернутую консультацию и поможет подобрать окна, двери, алюминиевые конструкции, которые максимально соответствуют Вашим представлениям об идеальном комфорте.</p>
                </div>
                <div class="box_cart">
                    <h4>Замер</h4>
                    <p>Технический специалист проведет замер по Вашей просьбе, объяснит все технические нюансы заказа. Кроме того, он несет полную ответственность (включая финансовую) за снятые размеры.</p>
                </div>
                <div class="box_cart">
                    <h4>Сроки</h4>
                    <p>Сроки изготовления каждого изделия индивидуальны. После консультации и замеров нашим техническим специалистом, мы согласовываем с производством точные даты поставки, которые прописываем в нашем с Вами договоре.</p>
                </div>
                <div class="box_cart">
                    <h4>Монтаж</h4>
                    <p>Монтаж изделий осуществляется по единой технологии, соответствующей требованиям ДСТУ.</p>
                </div>
                <div class="box_cart">
                    <h4>Гарантийное обслуживание</h4>
                    <p>Мы несем полную ответственность за качество наших изделий. Поэтому в течение 5 лет готовы произвести необходимый ремонт или замену изделия БЕСПЛАТНО. Если Ваше изделие выпущено с производственным браком, что случается очень редко, произведем его замену.</p>
                </div>
                <div class="box_cart">
                    <h4>Сервисное обслуживание</h4>
                    <p>Наш Сервисный Центр с радостью поможет Вам во всех вопросах, связанных с обслуживанием, ремонтом и модернизацией конструкций, проведем профилактическую диагностику или модернизацию Ваших окон и дверей.</p>
                </div>
            </div>

        </div>
    </section>
    <section class="full" id="section_4">
        <div class="content column">
            <h3 class="title">{{ menu[2] }}</h3>
            <div class="row box">
                <ul>
                    <li><svg class="t820__checkmark" style="width:30px; height:30px;" fill="#3c89c9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path></svg> <p>Выезд мастера на дом с последующим замером, диагностикой и выполнением ремонтных работ.</p></li>
                    <li><svg class="t820__checkmark" style="width:30px; height:30px;" fill="#3c89c9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path></svg> <p>Регулировка и ремонт оконной и дверной фурнитуры.</p></li>
                    <li><svg class="t820__checkmark" style="width:30px; height:30px;" fill="#3c89c9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path></svg> <p>Замена или усовершенствование стеклопакетов.</p></li>
                    <li><svg class="t820__checkmark" style="width:30px; height:30px;" fill="#3c89c9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path></svg> <p>Замена фурнитуры с поворотной на поворотно-откидную.</p></li>
                </ul>
                <ul>
                    <li><svg class="t820__checkmark" style="width:30px; height:30px;" fill="#3c89c9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path></svg> <p>Установка и замена ручек, как дверных так и оконных.</p></li>
                    <li><svg class="t820__checkmark" style="width:30px; height:30px;" fill="#3c89c9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path></svg> <p>Изготовление или реставрация москитных сеток.</p></li>
                    <li><svg class="t820__checkmark" style="width:30px; height:30px;" fill="#3c89c9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path></svg> <p>Замена сэндвич панелей.</p></li>
                    <li><svg class="t820__checkmark" style="width:30px; height:30px;" fill="#3c89c9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path><path d="M50.2 1.9C23.5 1.9 1.7 23.7 1.7 50.4s21.8 48.5 48.5 48.5 48.4-21.8 48.5-48.5c0-26.7-21.8-48.5-48.5-48.5zm-7.3 71.4L22.7 53.2l4.2-4.3 15.8 15.7 32.1-35.4 4.4 4-36.3 40.1z"></path></svg> <p>Установка отливов и подоконников.</p></li>
                </ul>
            </div>
            
            <a href="#" class="contactUs">Связаться с нами</a>
        </div>
    </section>
    <section class='full' id='section_5'></section>
    <section class='full' id='section_6'>

    </section>
    <section class="full" id="section_7">
        
    </section>
    <footer>
        <div class="content">
            <img src="{{ url_for('static', filename='mini img/logo-min.png') }}" alt="logo">
            <p class="text_box">
                ООО «ЛАВИНА» <br>
                84200, Донецкая обл., г. Дружковка,<br>
                ул. Космонавтов, 56<br>
                Тел: +3 8(050) 130 02 97<br>
                E-mail : ooolavina@ukr.net<br>
                2021
            </p>
            <span></span>

        </div>
        
    </footer>




    
    <!-- <script src="/js/script.js"></script> -->
</body>
</html>